.channel-div {
	max-height: 85vh;
	overflow-y: auto;
	font-size: 90%;
}

.channel-user-list-div {
	padding: 0px;
	max-height: 75vh;
	overflow-y: auto;
	font-size: 85%;
}

#messageTable {
	float:left;
	width:74%;
}
.message-timestamp {
    width: auto;
    white-space: nowrap;
}
.message-nick {
    width: auto;
    white-space: nowrap;
    text-align: right;
    border-right: 1px solid #ddd;
}
.message-text {
    width: 100%;
    word-break: break-all;
}
#messageTable tbody {
	max-height: 85vh;
	font-size: 85%;
	overflow: auto;
	display: block;
}

#channelAccordion {
	width:25%;
	float:right;
}

#messageInput {
	width:50%;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}