ul, li { 
	margin: 0px; 
	margin-left: 5px;
	padding: 0px; 
}

.message-timestamp {
    width: auto;
    white-space: nowrap;
}
.message-nick {
    width: auto;
    white-space: nowrap;
}
.message-text {
    width: 100%;
}
.messages tbody {
	height: 500px;
	overflow: auto;
	display: block;
}