<!DOCTYPE html>
<html>
	<head>
	    <title>Walrus IRC</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../style/stylesheet.css">
	</head>
	<body style="padding-top:60px; padding-bottom:60px;">
		<script src="../javascript/menu.js"></script>
		<nav class="navbar navbar-default navbar-fixed-top" style="height:100%;">
			<div class="container-fluid">
				<div class="row">
					<div class-"col-md-8">
						<ul class="nav nav-tabs">
							<li role="presentation" class="active"><a href="#">Freenode</a></li>
							<li role="presentation"><a href="#">Quakenet</a></li>
							<li role="presentation"><a href="#">ExampleNet</a></li>
						</ul>
					</div>
				</div>
				<div class="messages">
					<table class="table table-hover" style="float:left; width:74%">
						<tr>
							<td class="message-timestamp">2015-02-03 11:15:16</td>
							<td class="message-nick">ResidentBiscuit</td>
							<td class="message-text">This is just a message</td>
						</tr>
						<tr>
							<td class="message-timestamp">2015-02-03 11:16:35</td>
							<td class="message-nick">SomeNick</td>
							<td class="message-text">I'm replying to ResidentBiscuit</td>
						</tr>
					</table>
				</div>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:25%; float:right;">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          #cplusplus.com
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      	<ul>
		      		<li>@Admin</li>
		      		<li>+ResidentBiscuit</li>
		      		<li>Random</li>
		      		<li>Random</li>
		      	</ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          #freenode
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        <ul>
		      		<li>@Admin</li>
		      		<li>+ResidentBiscuit</li>
		      		<li>Random</li>
		      		<li>Random</li>
		      	</ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          ##linux
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        <ul>
		      		<li>@Admin</li>
		      		<li>+ResidentBiscuit</li>
		      		<li>Random</li>
		      		<li>Random</li>
		      	</ul>
		      </div>
		    </div>
		  </div>
		</div>
			</div>
		</nav>

		<!-- This is the area where the user sends messages -->
		<nav class="navbar navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">ResidentBiscuit</a>
				</div>
				<form class="navbar-form">
					<input type="text" class="form-control" placeholder="Enter your message..." style="width:50%;">
					<button class="btn btn-default" type="submit">Send</button>
				</form>
			</div>
		</nav>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>