<!DOCTYPE html>
<html>
	<head>
	    <title>Walrus IRC</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../style/stylesheet.css">
	</head>
	<body>
		<script src="../javascript/menu.js"></script>
		<div class="container">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#">Freenode</a></li>
				<li role="presentation"><a href="#">Quakenet</a></li>
				<li role="presentation"><a href="#">ExampleNet</a></li>
			</ul>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h3>#example <small>This is the title of channel #example on server irc.example.net<small></h3>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="row" style="position:absolute; bottom:3;">
					<div class="col-md-12">
						<form class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" id="messageInput" placeholder="Enter your message...">
							</div>
							<button type="submit" class="btn btn-default">Send</button>
						</form>
					</div>
				</div>
			</div>
		</nav>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>