<nav ng-controller="networkTabController" class="navbar navbar-default navbar-fixed-top" style="height:100%">
    <tabset>
        <tab ng-repeat="network in networks" heading="{{network.title}}" active="tab.active" disabled="tab.disabled"></tab>
    </tabset>
    <div class="container-fluid" ng-controller="chatWindowController">
        <div class="row col-xs-9">
            <table class="table table-condensed table-hover" id="message-table">
                <tbody scroll-glue>
                    <tr data-ng-repeat="line in chat">
                        <td class="message-timestamp">{{line.time | date:'short'}}</td>
                        <td class="message-nick">{{line.nick}}</td>
                        <td class="message-text">{{line.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- This is where joined channels are displayed. Default is an accordion list -->
        <div ng-controller="channelPaneController" class="panel-group channel-div row col-xs-3" id="channel-accordion" role="tablist">
            <accordion close-others="true">
                <accordion-group class="channel-user-list-div" heading="{{channel.title}}" ng-repeat="channel in channels" ng-click="changeContext(channel.title)">
                    <ul class="channel-user-list">
                        <a class="list-group-item" ng-repeat="nick in channel.users | orderBy:'toString()'">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>
                                {{ nick }}
                            </span>
                        </a>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>
</nav>
<nav class="navbar navbar-fixed-bottom" ng-controller="sendMessageController">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand" id="clientNick">ResidentWalrus</span>
        </div>
        <form ng-submit="sendMessage(chatMessage)" class="navbar-form" id="messageForm">
            <input id="message-input" type="text" ng-model="chatMessage" class="form-control" placeholder="Enter your message..." autocomplete="off" />
            <button ng-click="sendMessage(chatMessage)" id="message-button" class="btn btn-default" type="button" ng-model="button" ng-disabled="!chatMessage">Send</button>
        </form>
    </div>
</nav>